/* ----- RESET ----- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- COMMON ----- */
body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.flex {
    display: flex;
}

button {
    border: none;
    padding: 4px;
    text-align: center;
    background-color: transparent;
}

button:active {
    transform: translateY(1px);
}

/* ----- HEADER ----- */
header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    margin-bottom: 20px;
}

header img {
    width: 25px;
}

header .flex.box {
    align-items: center;
    column-gap: 12px;
}

.left.box > img:first-of-type {
    margin-right: 20px;
}

.right.box > button:last-of-type {
    color: rgb(206, 206, 206);
}

header button {
    color: white;
}

/* ----- MAIN ----- */
.partecipants.grid {
    width: 90vw;
    height: calc(100vh - 150px);
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    overflow-y: hidden;
}

.user {
    position: relative;
    width: calc(100% / 6 - 5px);
    background-image: url("../img/maronno.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.partecipants.grid > .user:first-child {
    background-image: url("../img/papafr.png");
}

.user, .username {
    border-radius: 7px;
}

.username {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding: 3px;
    font-size: 13px;
}

.username > * {
    background-color: transparent;
}

.username > i {
    color: rgb(204, 60, 51);
}

.username > span {
    color: rgb(230, 230, 230);
}

/* ----- FOOTER ----- */
footer {
    background-color: rgb(27, 27, 27);
    margin-top: 20px;
    padding: 5px;
}

.flex.row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer i {
    font-size: 24px;
}

footer button {
    color: rgb(168, 168, 168);
    margin: 0 10px;
}

.fa-chevron-up {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: -25px;
}

.label {
    margin-top: 10px;
}

.chevron {
    position: relative;
}

.green  {
    color: rgb(103, 214, 105);
}

.end.btn{
    font-weight: 900;
    color: white;
    background-color: rgb(200, 60, 50);
    border-radius: 8px;
    padding: 5px 20px;
}
